* {
  font-family: "Sen", sans-serif;
  font-weight: 600;
  margin: 0;
}
.container {
  background: #86f;
  padding: 20px 5px;
}
.caja {
  background: #025;
  height: 80px;
  width: 80px;
  margin: 30px;
  display: flex;
  color: #fff;
  transition: transform 1s;
  transform: translate(50px);
  transform: skew(30deg);
  /* la propiedad translate que tenga fuera del hover se conserva normal  */
}
.caja:hover {
  /* transform: scaleX(1.8) translate(50px); */
  /* las propiedad translate del hover es ajena completamente a la del elemento caja  */
}

b {
  margin: auto;
  transform: skew(-30deg);
}

